<h1>The Existing users are</h1>
<style>

	table, th, td {
   border: 1px solid black;
}

</style>
<table>
<tr>
<th>first_name</th>
<th>last_name</th>
<th>email</th>
</tr>

<tr>
<td><%= @User.first_name %></td>
<td><%= @User.last_name %></td>
<td><%= @User.email %></td>

</tr>

</table>